{% extends 'index.html' %}

{% block title %} Dashboard {% endblock title %}
{% block extra-css %}
<link rel="stylesheet" href="/static/css/datetimepicker.css">
{% endblock extra-css %}
{% block main-content %}
<div>
    <form method="POST" action="" class="moods-profile">
        <div class="row mt-4 mb-4">
            <div class="col-md-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'profile-view' %}">All</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'moods-detail' profile.id %}">{{profile.name}}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{profile_mood.name}}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-md-4">
                <h3>Profile</h3>
            </div>
        </div>
        <div class="">
            <table class="table table-lg table-bordered p-0">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Updated by</th>
                        <th scope="col">Archived by</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td hidden>
                            <input type="text" name="profile_id" value="{{profile.id}}" class="form-control"
                                id="profile_id">
                        </td>
                        <td><input type="text" name="profile_name" value="{{profile.name}}" class="form-control"></td>
                        <td>
                            <select class="custom-select" name="location">
                                <option value="{{profile.location.id}}" selected>
                                    {{profile.location.city}}, {{profile.location.country}}
                                </option>
                                {% for loc in location %}
                                <option value="{{loc.id}}">{{loc.city}}, {{loc.country}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="custom-select" name="update_by">
                                <option value="{{profile.update_by}}" selected>
                                    {{profile.update_by}}
                                </option>
                                {% for update in updates %}
                                <option value="{{update.0}}">{{update.0}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="custom-select" name="archive_by">
                                <option value="{{profile.archive_by}}" selected>
                                    {{profile.archive_by}}
                                </option>
                                {% for update in updates %}
                                <option value="{{update.0}}">{{update.0}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" type="button"
                                data-id="{{profile.id}}">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-md-6">
                <h4>Mood</h4>
            </div>
        </div>
        <div class="">
            <table class="table  table-lg table-bordered p-0">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Type</th>
                        <th scope="col">Select</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td hidden>
                            <input type="text" value="{{profile_mood.id}}" name="profile_mood_id" class="form-control">
                        </td>
                        <td>
                            <input type="text" value="{{profile_mood.name}}" name="profile_mood_name"
                                class="form-control">
                        </td>
                        <td>
                            <div class='input-group date date_field formset-start' id="datetimepicker_input">
                                <input type="text" class="form-control" name="start_time"
                                    value="{{profile_mood.start_time}}">
                                <span class="input-group-addon">
                                    <span class="fa fa-clock"></span>
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class='input-group date date_field formset-start' id="durationpicker_input">
                                <input type="text" class="form-control" name="duration"
                                    value="{{profile_mood.duration}}">
                                <span class="input-group-addon">
                                    <span class="fa fa-clock"></span>
                                </span>
                            </div>
                        </td>
                        <td>
                            <select class="formset-type" name="mood_type">
                                <option value="{{profile_mood.mood_type}}" selected>{{profile_mood.mood_type}}</option>
                                {% for mood in mood_type %}
                                <option value="{{mood.0}}" selected>{{mood.0}}</option>
                                {% endfor%}
                            </select>
                        </td>
                        <td>
                            <select class="formset-type" name="select">
                                <option value="{{profile_mood.select}}" selected>{{profile_mood.select}}</option>
                                <option value="Latest">Latest</option>
                                <option value="Random">Random</option>
                            </select>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-primary" data-id="{{profile_mood.id}}" type="button"
                                data-toggle="modal" data-target="#deleteMoodModal">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-md-6">
                <h4>Rating</h4>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-dark" id="sync-ratings" type="button" data-id="{{profile_mood.id}}"
                    {% if not should_sync %}disabled{% endif %}>
                    Sync First
                </button>
            </div>
        </div>
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-row-error alert-dismissible" role="alert">
            <strong>Alert!</strong>
            <span class="error-text">{{ message }}</span>
            <button type="button" class="hide-Alert close" aria-label="Close">
                <span class="hide-error-message">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="alert alert-success alert-row-success alert-dismissible" role="alert" hidden>
            <strong>Success!</strong>
            {% if messages %}
            <span class="success-text">{{message}}</span>
            {% else %}
            <span class="success-text">Test</span>
            {% endif %}
            <button type="button" class="hide-Alert close" aria-label="Close">
                <span class="hide-success-message">&times;</span>
            </button>
        </div>
        <div>
            <input type=" text" name="profile" value={{profile.id}} hidden>
            <input type=" text" name="profile_mood" value={{profile_mood.id}} hidden>
            <table id="mood-formset" class="table table-lg table-bordered p-0">
                {{ formset.management_form }}
                {% for form in formset.forms %}
                {% if forloop.first %}
                <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                        <th scope="col">{{ field.label|capfirst }}</th>
                        {% endfor %}
                        <th>Add</th>
                    </tr>
                </thead>
                {% endif %}
                <tr class="formset-input-box-{{forloop.counter0}}">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                    <td>
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        {% endif %}
                        {{ field.errors.as_ul }}
                        {{ field }}
                    </td>
                    {% endfor %}
                    <td class="cp"><span class="genre-add">Add</span></td>
                </tr>
                {% endfor %}
            </table>
            {% if not genre %}
            <div class="alert alert-danger alert-row-error alert-dismissible" role="alert">
                <strong>Alert!</strong>
                <span class="error-text">Please add genre before adding Rating</span>
            </div>
            {% endif %}
            <div class="m-4 text-center">
                <button class="btn btn-primary" {% if not genre %}disabled{% endif %}>Submit</button>
            </div>
            <table id="genre-formset-cloned" class="table table-bordered p-0 table-responsive" hidden>
                <tbody>
                    <tr class="formset-table-hidden hidden">
                        <td>
                            <select class="formset-initial_quantity">
                                {% for item in update_units %}
                                <option value="{{item.0}}">{{item.0}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="formset-update_quantity">
                                {% for item in update_units %}
                                <option value="{{item.0}}">{{item.0}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="formset-delete_quantity">
                                {% for item in update_units %}
                                <option value="{{item.0}}">{{item.0}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="formset-beat">
                                {% for item in units %}
                                <option value="{{item.0}}">{{item.0}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="formset-rating">
                                {% for item in units %}
                                <option value="{{item.0}}">{{item.0}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="formset-genre">
                                <option value=""></option>
                                {% for item in genre %}
                                <option value="{{item.id}}">{{item.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="checkbox" class="formset-delete"></td>
                        <td class="cp"><span class="genre-add">Add</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
    {% include 'frontend/delete-profile-modal.html'%}
    {% include 'frontend/delete-mood-modal.html'%}
</div>
{% endblock main-content %}
{% block extra-js %}
<script type="text/javascript" src="/static/js/datetimepicker.js"></script>
{% endblock extra-js %}
